.navbar-toggler{
    border: none;
}
.navbar-toggler:focus, .navbar-toggler:active{
    outline: 0 !important;
}
.card {
    display: flex;
    flex-direction: column;
  }
  
  .card .card-img-top {
    flex-grow: 1;
    object-fit: cover;
    max-height: 200px;
  }
  
  .card .card-body {
    flex-grow: 0;
  }
  
@media (min-width: 576px) {
   
}

@media (min-width: 992px) {
    .card .card-img-top {
      max-height: 400px;
        margin-left: auto;
        margin-right: auto;
      }
}